*{
    margin: 0;
    padding: 0;
}



.baaner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),
    rgba(0,0,0,0.75)), url(../images/levi-meir-clancy-KKcUqDtvUwU-unsplash.jpg) ;
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav{
    position: absolute;
    width: 100%;
    margin-bottom: 100px;
    height: 10vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(84, 93, 133);
    list-style: none;
    bottom: -100px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 105px;
    position: relative;
    justify-content: space-between;
}

i{
    font-size: 35px;
    color: black;
}

nav ul li a{
    text-decoration: none;
    color: blueviolet;
    text-transform: uppercase;
}

nav ul li::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background: black;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li:hover::after{
    width: 100%;
}

.calltoaction{
    position: absolute;
    font-size: 30px;
    color: rgb(224, 209, 209);
    
    top: 280px;
    left: 450px;
}

button{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    margin-left: 200px;
    
}

a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: 100px;
    padding: 10px;
}