:root{
    --light-color:#666;
 --box-shadow:0 .5rem 1.5rem rgba(0, 0, 0, .1);
 --green:#27ae60;
 --black:#192a56;

}

body{
  display: grid;
      justify-content: center;
  align-items: center;
  background-color: #6d94f7;
  background-size: cover;
  width: 100%;
  height: 100%;

 /* background: linear-gradient( gray,purple , white);*/
 
}

.container{
  max-width: 700px;
  width: 100%;
  background:#FFFFFF;
  padding: 5px 60px;
  border-radius: 60px;
  
}
.container .title{ 
  font-size: 20px;
  text-align: center;
  font-style: italic;
  font-family: sans-serifs;
}
.button{ 
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: whitesmoke;
  margin-left: 300px;
}
.button:hover{
    background-color: #666;
}

a{
    color: black;
    text-decoration: none;
    margin-top: 30px;
}

@media(max-width:1000px){
body{
      background: var(--light-color) ;
  }
.heading{
      font-size: 50px;
      text-align: center;
  }
.container{
  margin: auto;
  margin-bottom: 100px;
  width: 75%;
  background:#FFFFFF;
  padding: 5px ;
  border-radius: 30px;
  
}
.container .title{ 
              font-size: 17px;
              margin-top: 5px;
              }
              
.details{
      margin-left: 20px;
      margin-right: 20px;
  }
             
          }
  
  