.container{
    justify-content: center;
    background-color: rgb(84, 93, 133);
    margin-left:  500px;
    margin-right:  350px;
    margin-top: 200px;
    border-radius: 2px;
    width: 350px;
    height:250px ;
    border-radius: 50px;
    position: relative;
    font-size: 20px;
}

p{
    padding-top: 14px;
    padding-left: 12px;
    padding-right: 12px;
   
}